html,
body {
  height: 100%;
  margin: 0;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 16px;
  min-width: 320px;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
#app {
  display: flex;
  flex-direction: column;
}
